[Desktop Entry]
Type=Application
Name=Hollow
Comment=Encrypted distributed messaging
Exec=hollow
Icon=com.anonlisten.hollow
Terminal=false
Categories=Network;Chat;InstantMessaging;
StartupWMClass=com.anonlisten.hollow
